<h1>You forgot your password?</h1>
<%= form_with url: password_reset_path do |f| %>
<div class="w-full bg-white mx-auto rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
  <div>
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
    <%= f.email_field :email, class: "text-field", placeholder: "name@company.com", id: "user-email" %>
  </div>
  <%= f.submit "Reset Pass", class: "submit", id: "user-reset-submit" %>
</div>
<% end %>